<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pegrade</title>
	<link rel="stylesheet" href="/layout.css">
</head>
<body>
	<header>
		Pegrade
	</header>
	
	<nav>
		<a href="/">Start</a>
		<a href="/movies">Movies</a>
		<a href="/movies/create">Create</a>
	</nav>
	
	{{{body}}}
	
	<footer>
		Copyright Peter L-G 2022
	</footer>
	
</body>
</html>